
<h2 class="title-contact">All Articles</h2>
<%= link_to "Add New Article", articles_new_path, class: 'btn btn-primary' %><br>
<br>
<h3 style="color: green"><%= notice %></h3>
<br>
<%= paginate @articles %>
<br>
<% @articles.each do |art| %>
  <h3 class='movies'>Title: <span><%= art.title %></span></h3>
  <h3 class='movies'>Content: <span><%= art.content %></span></h3>
<br> 
<%= link_to "View Article", article_path(art.id), class: 'btn btn-primary' %><br>
<br> 
<% end %> 
<%= link_to "Add New Article", articles_new_path, class: 'btn btn-primary' %><br>

<br> 
<%= paginate @articles %>